# MAKE SURE TO LEAVE THE DENY LIST AT THE TOP OF THE FILE !!!
# BEGIN DENY LIST --
# END DENY LIST --

# MAKE SURE TO LEAVE THE DENY LIST AT THE TOP OF THE FILE !!!
# BEGIN DENY LIST --
# END DENY LIST --

# MAKE SURE TO LEAVE THE DENY LIST AT THE TOP OF THE FILE !!!
# BEGIN DENY LIST --
# END DENY LIST --

#RewriteBase /cmz_rest/


# Customized error messages.
ErrorDocument 404 /index.php
 
# Set the default handler.
DirectoryIndex index.php
 
# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>