<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body style="margin: 0; width: 100vw; height: 100vh;">
    <!-- width 100px y height 150px mas de lo medido con la imagen sacada del scanner. Sumar eso a cada elmento de html si se ve mal-->
    <div>
        <div style="position: relative">
            <?php if($generalInformation['type_document'] == 'F') { ?>
                <p style="position: absolute; top: 30px; left: 390px; font-size: 24px; margin: 0;"><?php echo $generalInformation['branch_office'] ?></p>
                <p style="position: absolute; top: 30px; left: 451px; font-size: 24px; margin: 0;"><?php echo $generalInformation['number_bill'] ?></p>
            <?php } else { ?>
                <p style="position: absolute; top: 30px; left: 20px; font-size: 16px; margin: 0;">DOC. INTERNO LIQUIDACION</p>
                <p style="position: absolute; top: 50px; left: 200px; font-size: 12px; margin: 0;">NUMERO REMITO INTERNO:&#09;<?php echo $generalInformation['receipt_number'] ?></p>
            <?php } ?>
            <p style="position: absolute; top: 67px; left: 360px; font-size: 12px; margin: 0;"><?php echo $header['billing_date'] ?> </p>
            <p style="position: absolute; top: 140px; left: 69px; font-size: 12px; margin: 0;"><?php echo $header['settlement_name']?> <?php if(!empty($generalInformation['plan_description'])) echo $generalInformation['plan_description'] ?></p>
            <p style="position: absolute; top: 151px; left: 69px; font-size: 12px; margin: 0;"><?php echo $header['iva_description']?></p>
            <p style="position: absolute; top: 140px; left: 360px; font-size: 12px; margin: 0;"><?php echo $header['address'] ?></p>
            <p style="position: absolute; top: 151px; left: 360px; font-size: 12px; margin: 0;"><?php echo $header['cuit'] ?></p>
            <p style="position: absolute; top: 180px; left: 113px; font-size: 12px; margin: 0;">PLAZO DE PAGO: <?php echo $header['payment_deadline'] ?> DIAS FECHA FACTURA </p>
        </div>
        <div style="position: relative; top: 252px; left: 12px; font-size: 12px; margin: 12px; width: 100%;">
            <?php foreach($body as $key=>$value): ?>
            <div style="position: relative; width: 100%">
                <p style="margin: 5px; left:12px;"><?php echo $value['total_benefit'] ?><span style="position: absolute; top:5px; left: 50px;">TOTAL PERIODO: <?php echo substr(str_replace('-','/',$value['billing_period']),0,-3) ?></span></p>
                <p style="position: absolute; right: 260px; display: block; top: 2px;"><?php echo $value['total_honorary_period'] + $value['total_expenses_period']?> </p>
            </div>
            <?php endforeach; ?>
            <div style="width: 100%; position: relative">
                <p style="margin: 5px 5px 5px 80px">SUBTOTAL.....</p>
                <p style="position: absolute; right: 260px; display: block; top: 2px;"><?php echo $generalInformation['total'] ?></p>
            </div>
            <div style="width: 100%; margin-top: 24px; position: relative">
                <p style="margin: 5px"><?php echo $generalInformation['total_bill_benefits'] ?> <span style="position: absolute; top:5px; left: 50px;">****TOTAL GENERAL</span></p>
                <p style="position: absolute; right:260px; display: block; top: 2px;"><?php echo $generalInformation['total'] ?></p>
            </div>
            <div style="width: 100%; text-align: justify; ">
                <p style="margin: 5px" >SON PESOS: QUINIENTOS CUARENTA Y SIETE MIL SEISCIENTOS NOVENTA Y DOS CON 55/100</p>
            </div>
            <?php if($generalInformation['type_document'] == 'F') { ?>
                <div style="width: 100%; margin-top: 24px; display: block; position: relative">
                    <p style="margin: auto; text-align: justify; width: 70%" >
                        LA PRESENTA FACTURA DEBERA SER CANCELADA DENTRO DEL TERMINO ESTABLECIDO, O SEA EL DIA: ***<?php echo $generalInformation['date_due'] ?>*** CASO CONTRARIO Y
                        -SIN OTRA COMUNICACION- DEVENGARA LOS INTERESES PACTADOS CONTRACTUALMENTE O LOS QUE DISPONGAN LA LEGISLACION VIGENTE
                    </p>
                </div>
            <?php } ?>
        </div>
    </div>
</body>
</html>