<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'/>
</head>
<body>
<div style='font-family: sans-serif; width: 850px;'>
    <div style='width: auto; height: 170px; position: relative; color:#444;border: 1px solid #f09700'>

	    <div style='position:absolute; top:0; left:50%; width: 10%;'>
	        <div style='border: 1px solid #f09700; background-color: #fff; border-top: 0; width: 100%; height: 40%;margin-left: -50%;text-align: center;'>
	            <span style='font-size: 52px; font-weight: bold; display: inline-block; padding: 5px 0'>$prefijo</span>
	            <br>
	        </div>
	    </div>
	    <div style='width: 50%; height: 100%; float: left; '>
	        <div style='width: auto; height: 100%'>
	            <div style='margin: 20px 0 0 15px; '>
	                <img src='https://ci3.googleusercontent.com/proxy/ukFwF2bgzs3V2FPftB6y6BaiaYIdg9FcXBMgfYUim52oXmPGhUSm6FnlsPBnNWPj3ltvgfgWx05b50UvezbJPdQP7v6nlUiNF6OfhkO-aLCmVrc=s0-d-e1-ft#http://www.circulomedicodezarate.org/img-web/img-top-logo.jpg' alt='' style='width: 220px'>
	            </div>
	            <div style='font-size: 11px; margin: 20px 20px 0px 15px;'>
	                <p>
	                    <span style='font-weight: bold'>Razón Social: </span>CIRCULO MEDICO ZARATE
	                </p>
	                <p>
	                    <span style='font-weight: bold'>Domicilio comercial: </span>Zarate
	                </p>
	                <p>
	                    <span style='font-weight: bold'>Condición frente al IVA: </span>
	                    <span style='font-weight: bold'>RESPONSABLE INSCRIPTO</span>
	                </p>
	            </div>
	        </div>
	    </div>
	    <div style='width: 50%; height: 100%; float: right;'>
	        <div style=' border-left: 1px solid #f09700;  width: auto; height: 100%'>
	            <div style='font-size: 26px; font-weight: bold; text-align: center; margin:15px 0 '>
	                $tipo
	            </div>
	            <div style='margin-left: 70px; font-size: 12px; line-height: 16px'>
	                <p>
	                    <span style='font-weight: bold;'>Punto de venta: $pto_venta</span>
	                    <span style='font-weight: bold; margin-left:10px'>Comp. Nro: $nro_comprobante</span>
	                </p>
	                <p>
	                    <span style='font-weight: bold;'>Fecha de emisión: $fecha_emision</span>
	                    <br>
	                    <span style='font-weight: bold;'>CUIT: </span>$cuit_qm
	                    <br>
	                    <span style='font-weight: bold;'>Ingresos brutos: </span>$ingresos_brutos
	                    <br>
	                    <span style='font-weight: bold;'>Fecha de Inicio de Actividades: </span>$inicio_actividades
	                </p>
	                <p>

	                </p>

	            </div>
	        </div>
	    </div>
	</div>

    <div style='background-color: #f09700; width: auto; height: 22px;  padding-top: 7px; font-size: 13px; color: #fff;'>
	    <span style='font-weight: bold; margin-left: 15px;'>Período Facturado Desde: </span>$fecha_desde
	    <span style='font-weight: bold; margin-left: 25px;'>Hasta: </span>$fecha_hasta
	    <span style='font-weight: bold; margin-left: 25px;'>Fecha de Vto. para el pago: </span>$fecha_vencimiento
	    <span style='font-weight: bold; margin-left: 15px;'>Fecha: </span>$fecha_desde
    </div>

    <div style='width: auto; height: 90px; border: 1px solid #f09700; font-size: 13px; padding: 10px 15px; color: #444; margin-bottom: 10px'>
	    <div style='height: 36px;'>

	            <div style='width: 40%; float: left; '>
	                <span style='font-weight: bold;'>CUIT: </span>$cuit_guiones
	            </div>
	            <div style='float: right; width: 55%'>
	                <span style='font-weight: bold;'>Apellido y Nombre / Razón Social: </span>$nombre
	            </div>
	    </div>

	    <div style='height: 36px;'>
	        <div style='width: 40%; float: left'>
	            <span style='font-weight: bold;'>Condición frente al IVA: </span>Responsable Inscripto
	        </div>
	        <div style='width: 55%; float: right'>
	            <span style='font-weight: bold;'>Domicilio Comercial: </span>
	            $domicilio_facturacion
	        </div>
	    </div>

	    <div style='height: 36px;'>
	        <div style='width: 40%; float: left'>
	            <div style='float: left'>
	                <span style='font-weight: bold;'>Condición de venta: </span>Contado / Cheque / Transferencia
	            </div>
	        </div>
	    </div>
	    </div>
    	<div style='font-size: 13px; min-height: 400px;'>

	        <table cellpadding='0' cellspacing='0' >
	            <thead>
		            <tr style='background-color: #ccc;font-size: 12px; '>
			            <th width='6%' style='border-right: 1px solid #fff; padding: 3px 0'>Código</th>
			            <th width='32%' style='border-right: 1px solid #fff;padding: 3px 0'>Producto / Servicio</th>
			            <th width='8%' style='border-right: 1px solid #fff; padding: 3px 0 '>Cantidad</th>
			            <th width='9%' style='border-right: 1px solid #fff;  padding: 3px 0'>U. medida</th>
			            <th width='10%' style='border-right: 1px solid #fff;padding: 3px 0'>Precio Unit.</th>
			            <th width='9%' style='border-right: 1px solid #fff; padding: 3px 0 '>Descuento</th>
			            <th width='10%' style='border-right: 1px solid #fff; padding: 3px 0 '>Subtotal</th>
			            <th width='7%' style='border-right: 1px solid #fff;  padding: 3px 0'>Alicuota IVA</th>
			            <th width='9%'>Subtotal c/IVA</th>
			        </tr>
		        </thead>
            	<tbody style='font-size:13px; color:#444;'>
            		<td style='padding: 3px 0 3px 3px; font-size:13px'>$d[codigo_articulo]</td>
            		<td style='padding: 3px 0 3px 3px; font-size:13px'>$descripcion</td>
            		<td align='center' style='padding: 3px 0; font-size:13px'>$d[cantidad]</td>
            		<td align='center' style='padding: 3px 0; font-size:13px'>$".number_format($precio_real,2,'.',',')."</td>
            		<td align='center' style='padding: 3px 0; font-size:13px'>".($descuento == '' ? $descuento : round($descuento,2).'%')."</td>
            		<td align='center' style='padding: 3px 0; font-size:13px'>$".number_format($subtotal,2,'.',',')."</td>
				</tbody>
	        </table>
		</div>
		<div id='containerComentario' style='margin: 5px 0; height: 19px; font-size: 14px; color:#444'>
			Comentarios bla bla bla
		</div>
		<div style='margin: 5px 0; height: 19px; font-size: 14px'>
			Recargos +IVA luego de la fecha de vencimiento
		</div>

		<div style='width: auto; height: 329px; border: 1px solid #f09700;'>
			<div style='width: 100%;'>
				<p style='font-size:15px; font-weight: bold; margin-bottom: 0; margin-top: 8px; padding-left: 15px; color: #f09700'>Formas de Pago</p>
                   	<div>
                   	<div style='padding: 0; float: left; width: 50%;  margin-bottom: 8px'>
                        <div style='border: 1px solid #ccc; width: 92%; margin: 10px auto; padding: 15px 0'>
                            <div style='margin: auto; width: 64%;'>
                            <div style='font-size: 13px; text-align: center; margin-bottom: 10px; font-weight: bold'>
                                Cupón de pago con:
                            </div>
                        </div>
                        <div style='margin: auto; width: 64%'>
                            <div>
                                <div style='float:left;'><img style='width: 30px; margin-right: 22px' src='http://saas.cmz.com/img/pagofacil.png'></div>
                                <div style='float:left;'><img style='width: 70px; margin-right: 22px; position: relative; top: -9px ' src='http://saas.cmz.com/img/rapipago.png'></div>
                                <div style='float:left;'><img style='width: 100px; padding-top: 10px' src='http://saas.cmz.com/img/pagomiscuentas.png'></div>
                                <div style='clear: both'></div>
                            </div>
                        </div>

                        <div style='margin: 2px 0 2px 0'>
                            <div style='text-align: center; '>
                                <img src='http://saas.cmz.com/barcode.php?codetype=Code128c&size=60&text=$codigo_cupon' alt='' />
                            </div>
                            <div style='text-align: center; font-size:12px;'>
                                    $codigo_cupon
                            </div>

                        </div>
                        </div>
                   </div>
                   <div style='width: 50%; float: left; padding-bottom: 31px'>
                        <div style='padding: 10px 0 5px 15px; '>
                            <img style='float: left; margin-right: 10px;' src='http://saas.cmz.com/img/check-icon.png' />
                            <span style='line-height:32px; font-size:13px; '><b>Cheques</b>
                            a nombre de <b>CIRCULO MEDICO ZARATE</b></span>
                        </div>
                        <div style='padding: 15px 0 5px 15px;'>
                            <img style='float: left; margin-right: 10px;' src='http://saas.cmz.com/img/transfer-icon.png' />
                            <span style='line-height:32px; font-size:13px; font-weight: bold; '>Transferencia Bancaria</span>
                            <p style='padding: 0 0 0 45px;margin: 0; font-size:13px; line-height: 16px'>BANCO : Banco Algo<br/>
                            TITULAR :      <b> CIRCULO MEDICO ZARATE</b><br/>
                            CUIT :  30-71133261-4 / Responsable Inscripto<br/>
                            CUENTA CORRIENTE $ :    00000-0 000-0<br/>
                            CBU : 0000000-00000000000000000</p>
                        </div>
                    </div>
                   </div>
                   <div style='clear: both'></div>
                   </div>
			        <div style='width: 100%; border-top: 1px solid #f09700; font-size: 14px'>
			            <div style=' width:50%; float:left;'>
			                <div style='padding: 10px 0 5px 15px;'>
			                    <img style='float: left; margin-right: 10px;' src='http://saas.cmz.com/img/mailing_contact.png' />
			                    <span style='line-height:32px; font-size:13px; '>+54 (11) 5235-1170</span>
			                </div>
			                <div style='padding: 0px 0 10px 15px;'>
			                    <img style='float: left; margin-right: 10px;'  src='http://saas.cmz.com/img/mailing_email.png' />
			                    <span  style='line-height:32px; font-size:13px; '>cobranzas@cmz.com</span>
			                </div>
			            </div>
			            <div style=' width:423px; float:left; background-color: #e8fcff;'>
			                <div style='margin: 10px 20px 2px 20px;'>
			                    <div style=' width: 60%; float: left; text-align: left;'>
			                    Importe Neto Gravado: <br>
			                    IVA 21%: <br>
			                    IVA 0%: <br>
			                    </div>
			                    <div style='width: 40%; float: left; text-align: right;'>
			                        $ $total<br>
			                        $ $iva21<br>
			                        $ 0,00<br>
			                    </div>
			                    <div style='clear: both'></div>
			                </div>
			                <div style='text-align: right; margin: 0 20px 3px 20px; line-height: 29px; font-size:15px'><b>"._('Importe Total').": $ $total_con_iva_formato </b></div>
			            </div>
			        </div>
				</div>
				<div style='width: 100%; height: 57px; margin-top: 15px;'></div>
			</div>
		</div>
	</div>	
</div>


</body>
</html>